# Selecting data in DataFrame

### Exercise 1: Pandas: DataFrame and Series

_Pandas_ is a popular library for data analysis built on top of the Python programming language. Pandas generally provide two data structures for manipulating data, They are:

* DataFrame
* Series

A __ DataFrame __ is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

* A Pandas DataFrame will be created by loading the datasets from existing storage.
* Storage can be SQL Database, CSV file, Excel file, etc.
* It can also be created from the lists, dictionaries, and from a list of dictionaries.

_Series_ represents a one-dimensional array of indexed data. It has two main components :

1. An array of actual data.
2. An associated array of indexes or data labels.
_The index is used to access individual data values. You can also get a column of a dataframe as a Series. You can think of a Pandas series as a 1-D dataframe._

#### In this practice lab, we will learn how to create a DataFrame out of a dictionary.

We then create a dataframe from the dictionary using the function pd.DataFrame(dict)

In [4]:
#Define a dictionary 'x'
import pandas as pd

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

#### Column Selection:
To select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

Let's Retrieve the data present in the ID column.

In [5]:
#Retrieving the "ID" column and assigning it to a variable x
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

##### Access to multiple columns
Let us retrieve the data for Department, Salary and ID columns

In [6]:
z= df[["Department","ID","Salary"]] # Double Squre Bracket for 2-D
print(z)

        Department  ID  Salary
0  Architect Group   1  100000
1   Software Group   2   80000
2      Design Team   3   50000
3   Infrastructure   4   60000

#### Try by myself

In [4]:
import pandas as pd
student_record = {
    "Student":["David","Samual","Terry","Evan"],
    "Age":[27,24,22,32],
    "Country":["UK","INDIA","China","USA"],
    "Course":["Python","Data Structure","Machine Learning","Web Development"],
    "Marks":[85,72,89,76]
}

print_record = pd.DataFrame(student_record)
print_record

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samual   24   INDIA    Data Structure     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web Development     76


##### Problem 2: Retrieve the Marks column and assign it to a variable b

In [ ]:
b = df[['Marks']]
b


##### Problem 3: Retrieve the Country and Course columns and assign it to a variable c

In [ ]:
c = df2[['Country','Course']]
c

##### To view the column as a series, just use one bracket:

In [1]:
x = DataFrame[["Student"]]
x.Series()
x

NameError: name 'DataFrame' is not defined

#### Exercise 2: loc() and iloc() functions

1. loc() is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select. This method includes the last element of the range passed in it.

Simple syntax for your understanding:

* loc[row_label, column_label]
2. iloc() is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it.

Simple syntax for your understanding:

* iloc[row_index, column_index]

In [ ]:
# Access the value on the first row and the first column

df.iloc[0, 0]

In [ ]:
# Access the column using the name

df.loc[0, 'Salary']

Let us create a new dataframe called 'df2' and assign 'df' to it. Now, let us set the "Name" column as an index column using the method set_index().

In [ ]:
df2=df # create a seperate dataset with same name data
df2=df2.set_index("Name")

In [ ]:
#To display the first 5 rows of new dataframe
df2.head()

In [ ]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

# Loading Data with Pandas


After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (.csv) file to a dataframe. This variable csv_path stores the path of the .csv, that is used as an argument to the read_csv function. The result is stored in the object df, this is a common short form used for a variable referring to a Pandas dataframe.

In [ ]:
# extract unique vlaue
df['Marks'].unique()
# print all unique element

In [ ]:
# Save as csv 
df.to_csv('file of.csv')

In [ ]:
print(df[2])     # Access the element with label 2 (value 30)

In [ ]:
print(s.iloc[3]) # Access the element at position 3 (value 40)

In [ ]:
print(s[1:4])   # Access a range of elements by label

* values: Returns the Series data as a NumPy array.
* index: Returns the index (labels) of the Series.
* shape: Returns a tuple representing the dimensions of the Series.
* size: Returns the number of elements in the Series.
* mean(), sum(), min(), max(): Calculate summary statistics of the data.
* unique(), nunique(): Get unique values or the number of unique values.
* sort_values(), sort_index(): Sort the Series by values or index labels.
* isnull(), notnull(): Check for missing (NaN) or non-missing values.
* apply(): Apply a custom function to each element of the Series.